<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="index :: common-header">
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="index :: navbar"/>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>You can easily transfer your savings between different banks, now available banks for you are Kaspi and Halyk bank.</h1>
<br>
<br>
<br>
<br>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/betweenAccounts}" method="post">
                <div class="form-group" >
                    <label for="from">1. Select account that will be withdraw from:</label>
                    <select class="form-control" th:value="${from}" name="from" id="from" required="required" >
                        <option  disabled="disabled" selected="selected"> Select </option>
                        <option value="Kaspi">Kaspi</option>
                        <option value="Halyk">Halyk</option>
                    </select>
                    <br />
                </div>

                <div class="form-group" >
                    <label for="to">2. Select account that will be deposited:</label>
                    <select class="form-control" th:value="${to}" name="to" id="to" required="required" >
                        <option  disabled="disabled" selected="selected"> Select </option>
                        <option value="Kaspi">Kaspi</option>
                        <option value="Halyk">Halyk</option>
                    </select>
                    <br />
                </div>

                <div class="form-group">
                    <label>3. Please specify the amount you would like to transfer: </label>
                    <span class="input-group-addon">Amount $</span>
                    <input th:value="${amount}" type="number" name="amount" id="amount" class="form-control" aria-label="Amount (to the nearest dollar)"  />
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Apply</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>


</body>
</html>